<% include partials/header %>

<div class="container">
    <div class="row" style="text-align: center;">
        <h1><%= item.title %></h1>
        <hr>
        <img src="<%= item.image %>" alt="">
        <br>
        <hr>
        <div class="thumbnail">
            <p><%= item.description %></p>
        </div>
        <a class="btn btn-warning" href="/home/<%= item._id%>/edit">Edit</a>
        <form style="display: inline;" action="/home/<%= item._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>

<% include partials/footer %>